@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sora:wght@700&display=swap');
*{
    font-family: 'Sora', sans-serif;
    color: rgb(0, 0, 0);
}
body{

    min-width: 75%;
}

.navbar{
    padding:5px 0;
}

.nav-link{
    margin-left: 20px;
    font-size: 16px;
    color:#999;
}
.navbar-nav .nav-link.active{
    font-weight: bold;
    color: #656565;
}

.navbar-light .navbar-toggler{
    border:none;
    outline:none;
}

.container p{
    color: #656565;
}


button{
    font-size: 0.8rem;
    font-weight: 700;
    outline:none;
    border:none;
    background-color: #fffefe;
    color: #111010;
    padding: 13px 30px;
    cursor:pointer;
    text-transform: uppercase;
}

button:hover {
    color: #7d7d7d;
}

#home span{
    color: blue;
}

#home{
    background-image: url("images/home2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


  

